<% if flash[:notice] %>
<% flash[:notice].each do |message| %>
    <p> <%= message %> </p>
<% end %>
<% end %>
<link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
<div id="container">
     <fieldset>
        <legend>User Registration</legend>
           <form action="/users/create" method="POST">
           <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <table>

                <tr>
                    <td>Name<input type="text" name="name" placeholder = "Name"></td>
                </tr>
                <tr>

                    <td>Email<input type="email" name="email" placeholder = "email"></td>
                    <td>Description<input type="textarea" name="description" placeholder = "description"></td>
                    </tr>
                </table>
                <tr>
                    <td>Password:<input type="password" name="password" placeholder = "Password" ></td>
                    <td>Password:<input type="password" name="password_confirmation" placeholder = "confirmation"></td>
                </tr>
                <tr>

                    <td> <input type="submit" value="create"></td>
                </tr>
            </table>
        </form>
    </fieldset>


     <fieldset>
        <legend>User Login</legend>
            <form action="/users/login" method="POST">
            <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
            <table>

                <tr>
                    <td><input type="email" name="email" placeholder = "email"></td>
                </tr>
                <tr>
                    <td><input type="password" name="password" placeholder = "Password" ></td>
                </tr>
                <tr>
                      <td><input type="submit" value="login"> </td>
                </tr>
            </table>
            </form>
    </fieldset>
</div>
<% if flash[:alert] %>
<%= flash[:alert] %>
<% end %>
